/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    background-color: #b2bec3;
    font-family: 'Nunito', sans-serif;
    position: relative;
}

.box {
    background-color: white;
    border-radius: 10px;
    width: 550px;
    padding: 30px;
    box-shadow:  #98a2a6 10px 10px 10px;
    margin-top: 150px;
    left: 650px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #d63031;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 3px solid white;
   position: absolute;
   right: -75px;
   top: -75px;
}

p {
    font-size: 18px;
    margin-top: 30px;
}

a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.twitter {
    background-color: #1da1f2;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.twitter a:hover  {
    background-color: #0b7bc1;
}

.twitter a:focus {
    background-color: #0b7bc1;
}

.twitter a:active {
    background-color: #0b7bc1;
}

.facebook {
    background-color: #3b5998;
    border-radius: 5px;
}
.facebook a:hover {
    background-color: #2b406e;
}

.facebook a:focus {
    background-color: #2b406e;
}

.facebook a:active {
    background-color: #2b406e;
}